In [1]:
import pandas as pd

In [2]:
pd.__version__

'1.4.4'

In [3]:
df = pd.read_csv("yellow_tripdata_2021-07.csv", nrows=100)

In [4]:
df.head()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge
0,1,2021-07-01 00:08:51,2021-07-01 00:13:05,1,0.8,1,N,90,68,1,5.0,3.0,0.5,0.0,0.0,0.3,8.8,2.5
1,1,2021-07-01 00:22:39,2021-07-01 00:25:58,1,0.9,1,N,113,90,2,5.0,3.0,0.5,0.0,0.0,0.3,8.8,2.5
2,1,2021-07-01 00:48:33,2021-07-01 00:54:58,1,2.8,1,N,88,232,2,10.0,3.0,0.5,0.0,0.0,0.3,13.8,2.5
3,1,2021-07-01 00:59:44,2021-07-01 01:07:09,1,1.4,1,N,79,249,1,7.0,3.0,0.5,1.5,0.0,0.3,12.3,2.5
4,1,2021-07-01 00:08:35,2021-07-01 00:16:28,0,2.0,1,N,142,238,1,8.5,3.0,0.5,0.0,0.0,0.3,12.3,2.5

In [5]:
df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)

In [6]:
from sqlalchemy import create_engine

engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')

In [7]:
#Create Schema to upload to PostgresDB

print(pd.io.sql.get_schema(df, name="yellow_taxi_data", con=engine))

CREATE TABLE yellow_taxi_data (
	"VendorID" BIGINT,
	tpep_pickup_datetime TIMESTAMP WITHOUT TIME ZONE,
	tpep_dropoff_datetime TIMESTAMP WITHOUT TIME ZONE,
	passenger_count BIGINT,
	trip_distance FLOAT(53),
	"RatecodeID" BIGINT,
	store_and_fwd_flag TEXT,
	"PULocationID" BIGINT,
	"DOLocationID" BIGINT,
	payment_type BIGINT,
	fare_amount FLOAT(53),
	extra FLOAT(53),
	mta_tax FLOAT(53),
	tip_amount FLOAT(53),
	tolls_amount FLOAT(53),
	improvement_surcharge FLOAT(53),
	total_amount FLOAT(53),
	congestion_surcharge FLOAT(53)
)

In [8]:
df_iter = pd.read_csv("yellow_tripdata_2021-07.csv", iterator = True, chunksize= 100000)

In [9]:
df = next(df_iter)

In [10]:
len(df)

100000

In [11]:
df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)

In [12]:
df.head(n=0).to_sql(name = 'yellow_taxi_data', con = engine, if_exists= 'replace')

0

In [13]:
%time df.to_sql(name = 'yellow_taxi_data', con = engine, if_exists= 'append')

CPU times: user 4.59 s, sys: 331 ms, total: 4.92 s
Wall time: 9.31 s

1000

In [14]:
from time import time

In [15]:
while True :
    
    start_time = time()
    df = next(df_iter)
    df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
    df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)
    
    df.to_sql(name = 'yellow_taxi_data', con = engine, if_exists= 'append')
    
    end_time = time()
    
    print("Time Used : %.3f second" %(end_time-start_time))
    
    print("Inserted another chunk...")

Time Used : 9.359 second
Inserted another chunk...
Time Used : 9.387 second
Inserted another chunk...
Time Used : 9.281 second
Inserted another chunk...
Time Used : 9.320 second
Inserted another chunk...
Time Used : 9.363 second
Inserted another chunk...
Time Used : 9.237 second
Inserted another chunk...
Time Used : 9.243 second
Inserted another chunk...
Time Used : 9.220 second
Inserted another chunk...
Time Used : 9.182 second
Inserted another chunk...
Time Used : 9.224 second
Inserted another chunk...
Time Used : 9.565 second
Inserted another chunk...
Time Used : 9.297 second
Inserted another chunk...
Time Used : 9.192 second
Inserted another chunk...
Time Used : 9.160 second
Inserted another chunk...
Time Used : 9.355 second
Inserted another chunk...
Time Used : 9.370 second
Inserted another chunk...
Time Used : 9.266 second
Inserted another chunk...
Time Used : 9.273 second
Inserted another chunk...
Time Used : 9.460 second
Inserted another chunk...
Time Used : 9.406 second
Inserted another chunk...
Time Used : 9.306 second
Inserted another chunk...
Time Used : 9.240 second
Inserted another chunk...
Time Used : 9.223 second
Inserted another chunk...
Time Used : 9.242 second
Inserted another chunk...
Time Used : 9.328 second
Inserted another chunk...

/tmp/ipykernel_1333/2025499126.py:4: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  df = next(df_iter)

Time Used : 9.293 second
Inserted another chunk...
Time Used : 8.341 second
Inserted another chunk...
Time Used : 1.752 second
Inserted another chunk...

StopIteration: